<body>
    <div style="position: relative; width: 100%; height: 90%; overflow-y: auto;">
        <div>
           <img src="{{imageName}}"  height="400px" width="450px"  />
        </div>
        <div style="position: absolute; width: 100%; height: 30%; top: 25%; background-color: #c1d7d5;">
        <h6 class="title">PORCENTAJES DE LAS INCIDENCIAS POR CALLE</h6>
        <div class="scrollable-container">
            
            <div  style="height: 30%; width: 100%; background-color:  #c1d7d5;">
                <div class="calles" *ngFor="let incidencia of incidenciasData">
                    <p>{{ incidencia.calle }}</p>
                    <p>{{ incidencia.porcentaje }}%</p>
                    
                  </div>
                </div>
            </div>
            </div>
          
          
    
       
    
        <div class="contenedor">
            <div class="fila">
                <div class="rectangulo">
                    <h1 class="number" id="1"></h1>
                    <p class="tipo">PETICIÓN</p>

                </div>
                <div class="rectangulo">
                    <h1 class="number" id="2"></h1>
                    <p class="tipo">LLENO</p>

                </div>
            </div>
            <div class="fila">
                <div class="rectangulo">
                    <h1 class="number" id="3"></h1>
                    <p class="tipo">RECLAMACIÓN</p>

                </div>
                <div class="rectangulo">
                    <h1 class="number" id="4"></h1>
                    <p class="tipo">CONSULTA</p>

                </div>
            </div>
        </div>
    </div>
    


  <footer class="footer">
    <div class="footer-buttons">
        <button class="mis-incidencias" (click)="goToIncPage();" >
            <img src="../../assets/img/Icon_Suggestion.png" alt="Icono Incidencias Usuarios">
        </button>
        
        <button class="reportes-mapa" (click)="goToStatsPage();">
            <img src="../../assets/img/icon_Stats_pink.png" alt="Icono Estadisticas">
        </button>

        
        <button class="mapa_calor" (click)="goToMapPage();">
            <img src="../../assets/img/Icon_Mapa_Calor_.png" alt="Icono Mapa de Calor">
        </button>
        
        <button class="icono-usuario"(click)="goToProfPage();">
            <img src="../../assets/img/icon_User.png" alt="Icono Usuario">
        </button>
        
    </div>
</footer>


</body>