<body>


  <footer class="footer">
    <div class="footer-buttons">
        <button class="mis-incidencias" (click)="goToIncPage();" >
            <img src="../../assets/img/Icon_Suggestion.png" alt="Icono Incidencias Usuarios">
        </button>
        
        <button class="reportes-mapa" (click)="goToStatsPage();">
            <img src="../../assets/img/icon_Stats_pink.png" alt="Icono Estadisticas">
        </button>

        
        <button class="mapa_calor" (click)="goToMapPage();">
            <img src="../../assets/img/Icon_Mapa_Calor_.png" alt="Icono Mapa de Calor">
        </button>
        
        <button class="icono-usuario"(click)="goToProfPage();">
            <img src="../../assets/img/icon_User.png" alt="Icono Usuario">
        </button>
        
    </div>
</footer>

</body>