<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/src/css/style.css">
<link rel="stylesheet" href="/src/css/info-rec.css">
<link rel="stylesheet" href="/src/css/tutorial.css">
<title>Mockup de iPhone</title>
 
<body>
    <div class="iphone">
        <div class="screen">0
            <div class="notch"></div>
            <div class="sensor"></div>
            <div class="camera"></div>
            <div class="content">
                <p class="texto-Reciclaje">APRENDIENDO<br>RECICLAJE</p>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="1.55556 -0.584459 16.44 26.33" style="height: 430px; filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.5));" >
                  <path d="M 17 25 C 17 26 3 26 3 25 C 2 24 2 24 2 13 C 2 7 1 1 2 1 C 3 0 15 -2 17 1 C 18 2 18 14 18 14 C 18 21 18 24 17 25" fill="#3a5e62"/>
              </svg>  
              <footer class="footer">
                <div class="footer-buttons">
                    <img src="../../assets/img/Icon_Mis_Incidencias.png"class="footer-button">
                    <img src="../../assets/img/Icon_Reportes_En_El_Mapa.png"class="footer-button">
                    <img src="../../assets/img/icon_VER_MAPA.png"class="footer-button">
                    <img src="../../assets/img/icon_Info_Reciclaje.png"class="footer-button">
                    <img src="../../assets/img/icon_User.png"class="footer-button">
                </div>
            </footer>                    
            </div>
        </div>
    </div>
</body>
</head>
</html>
