

<body>
  
        <div class="content">
            <p class="texto-Reciclaje">APRENDIENDO RECICLAJE</p>
              <swiper-container class="mySwiper" effect="cards" grab-cursor="true">
                <swiper-slide>
                  <div>
                    <img src="../../assets/img/Contenedor_Vidrio.png" class="foto-contenedor" >
                    <p class="texto-info" style="width:200px">Aquí puedes depositar cualquier botella de vidrio;
                      los frascos de cosmética y de colonia; tarros de mermelada y de
                      conservas. <br><br>NO se puede depositar bombillas, tubos
                      fluorescentes, resto de vajilla, cristales rotos. Además
                      tenemos que quitarle los tapones a las botellas, tarros
                      y frascos y depositarlos en el contenedor amarillo.</p>
                    <p class="contenedor-title" style="width:200px">VIDRIO</p>
                  </div>
                </swiper-slide>
                <swiper-slide>
                  <div>
                    <img src="../../assets/img/Contenedor_Envases.png" class="foto-contenedor" >
                    <p class="texto-info" style="width:200px">Envases metálicos: latas, bebidas,
                      aluminio, aerosoles, tapones metálicos.
                      <br>Briks: de zumos, caldos, etc.
                      <br>Envases de plástico: botellas, bolsas,
                      tarrinas, corcho, y
                      envoltorios de plástico.<br><br>NO podemos depositar los juguetes de plástico,
                      pañales, discos de CD o DVD, electrodomésticos,
                      zapatillas de plástico como las crocs… </p>
                    <p class="contenedor-title" style="width:200px">ENVASES LIGEROS</p>
                  </div>
                </swiper-slide>
                <swiper-slide>
                  <div>
                    <img src="../../assets/img/Contenedor_Papel.png" class="foto-contenedor" >
                    <p class="texto-info" style="width:200px">Papel: Periódicos, libros, revistas y bolsas de papel.<br>Envases de cartón: cajas de galletas, cereales, hueveras de cartón, etc. Prácticamente todos
                      los envases de cartón que utilizamos en casa.
                      <br><br>
                      NO podemos depositar servilletas usadas, pañuelos
                      de papel usados, cartón y papel manchados de aceite,
                      pañales o briks.</p>
                    <p class="contenedor-title" style="width:200px">PAPEL Y CARTÓN</p>
                  </div>
                </swiper-slide>
                <swiper-slide>
                  <div>
                    <img src="../../assets/img/Contenedor_Organico.png" class="foto-contenedor" >
                    <p class="texto-info" style="width:200px">Residuos biodegradables: Alimentos como cáscaras y pieles de frutas, restos, etc.
                      <br>Desechos orgánicos: Papeles y cartón manchados, restos vegetales de flores y hojas, tapones de corcho y
                      serrín.<br><br>NO podemos depositar tiritas, bolsas de infusión con
                      grapas metálicas, polvo de barrer, toallitas,
                      bastoncillos, hilo dental, algodón, cenizas, etc</p>
                    <p class="contenedor-title" style="width:200px">ORGÁNICO</p>
                  </div>
                </swiper-slide>
                <swiper-slide>
                  <div>
                    <img src="../../assets/img/Contenedor_Ropa.png" class="foto-contenedor-ropa" >
                    <p class="texto-info" style="width:200px">Se puede tirar cualquier textil. 
                      Camisetas, vestidos, pijamas, pantalones, etc. 
                      También complementos como bolsos o cinturones y calzado.<br><br>
                      Es habitual que vayan a parar allí prendas muy viejas y deterioradas. Eso no importa, tampoco lo hace el color o el material.

                      Sin embargo, sí es importante que todas las prendas estén limpias.</p>
                    <p class="contenedor-title" style="width:200px">ROPA</p>
                  </div>
                </swiper-slide>
                <swiper-slide>
                  <div>
                    <img src="../../assets/img/Contenedor_Aceite.png" class="foto-contenedor-aceite">
                    <p class="texto-info" style="width:200px">Arrojar el aceite usado de las frituras por el desagüe o simplemente a la basura es un error considerable. La manera adecuada de desechar este líquido es utilizando los contenedores naranjas destinados para la recolección municipal.</p>
                    <p class="contenedor-title" style="width:200px">ACEITE</p>
                  </div>
                </swiper-slide>
                <swiper-slide>
                  <div>
                    <img src="../../assets/img/Contenedor_otros.png" class="foto-contenedor-otros" >
                    <p class="texto-info" style="width:200px">En cuanto al resto de residuos, como pañales, toallitas, vajilla, sartenes,
                    unas zapatillas destrozadas… se pueden tirar al contenedor normal (de no-
                    reciclaje), pero recordad que las bombillas, tubos fluorescentes, pilas,
                    baterías, pinturas, barnices o aceite usado son productos muy contaminantes
                    que deberemos por todos los medios llevar al punto limpio.</p>
                    <p class="contenedor-title" style="width:200px">OTROS</p>
                  </div>
                </swiper-slide>
              </swiper-container>
              <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-element-bundle.min.js"></script>
              <footer class="footer">
                <div class="footer-buttons">
                    <button class="mis-incidencias" (click)="goToMisPage();">
                        <img src="../../assets/img/Icon_Mis_Incidencias.png" alt="Icono Mis Incidencias">
                    </button>
                    
                    <button class="reportes-mapa" (click)="goToNuevaIncPage();">
                        <img src="../../assets/img/Icon_Reportes_En_El_Mapa.png" alt="Icono Reportes en el Mapa">
                    </button>
                    
                    <button class="ver-mapa" (click)="goToMapPage();">
                        <img src="../../assets/img/icon_VER_MAPA.png" alt="Icono Ver Mapa">
                    </button>
                    
                    <button class="info-reciclaje" (click)="goToInfoPage();">
                        <img src="../../assets/img/icon_Info_Reciclaje_pink.png" alt="Icono Información de Reciclaje">
                    </button>
                    
                    <button class="icono-usuario" (click)="goToProfPage();">
                        <img src="../../assets/img/icon_User.png" alt="Icono Usuario">
                    </button>
                    
                </div>
            </footer>
          </div>
       
 </body>
