@import url("/src/css/style.css");

body{
  
  user-select: none;
  background-color: #3a5e62;
}

.content { /*Es el div q engloba todo*/
    width: 100%;
    height: 100%;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    z-index: 0;
    flex-direction: column
}


.photo{
  display: flex; 
    align-items: center; 
    justify-content: center; 
    height: 100%; 
    width: 100%;
    position: relative;
    bottom: 37%;
}

.circulo {
  width: 90px; /* Tamaño del círculo en píxeles */
  height: 90px; /* Tamaño del círculo en píxeles */
  background-color: #c1d7d5; /* Cambia esto al color que desees */
  border-radius: 50%; /* Hace que el div sea un círculo */
  z-index: 2;
  position: absolute;
  top: 63%;
  left: 26%;
  transform: translate(-50%, -50%); /* Centra el círculo horizontal y verticalmente */
  border: 5px solid #5a8d8d; /* Define el borde con ancho, estilo y color */
  overflow: hidden;
}

#name {
  color: #b5b4b8;
  position: absolute;
  z-index: 10000;
  font-family: 'Laura merged', sans-serif;
  font-size: 20px; /* Reduzco el tamaño de fuente */  
  left: 50%;
  top: 60%;
  font-weight: bold;
  transform: rotate(-3deg); /* Rota el texto 45 grados en sentido contrario a las agujas del reloj */

}

 #email,#numero,#password,#newpassword{
  font-size: 18px;
  width: 80%;
  padding: 8px;
  margin-bottom: 20px;
  color: #b5b4b8;
  border-color: #e6e5ea;
  border-radius: 15px  ;
  z-index: 8;
  font-family: 'Laura merged', sans-serif;
}

.textboxes{
  display: flex; /* Hace que los elementos hijos se alineen en una fila */
  flex-direction: column;
    justify-content: space-between; /* Distribuye el espacio entre los elementos de manera uniforme */
    align-items: center; /* Alinea verticalmente los elementos hijos en el centro */
    position: relative;
    z-index: 40;
    bottom: 60%;

}

.buttonedit {
  z-index: 20;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='1.92623 3.29003 12.36 2.95'%3E%3Cpath d='M 3 6 C 2.916 6.267 1.961 5.604 2 5 C 2 5 1.749 4.383 2.173 3.693 C 3.792 3.481 4.429 3.056 12.018 3.454 C 12.389 3.693 14.618 3.375 14.246 4.489 C 14.273 5.922 14.406 5.816 11.566 6.24 C 5.994 5.816 8.674 6.108 3.023 6.108' fill='%23c1d7d5'/%3E%3C/svg%3E");
  background-color: transparent;
  font-weight: bold;
  font-family: 'Laura merged', sans-serif;
  font-size: 4.9vw; /* Ajusta el tamaño del texto según tus preferencias */
  width: 120%; /* Ancho ajustado automáticamente según el contenido */
  height: auto; /* Altura ajustada automáticamente según el contenido */
  color: #3a5e62;
  background-repeat: no-repeat;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  padding: 5px; /* Añade espacio entre el texto y los bordes del botón */
  p{margin-left: 10px; margin-top: 5px;}
}

.buttonedit img {
  width: 22%; /* Modifica el tamaño de la imagen según tus preferencias */
}



.saveChanges {
  background-color: #84beb0;
  border: none; /* Eliminar el borde */
  border-radius: 15% 15% 15% 15% / 20% 20% 20% 20%;
  color: #3a5e62; /* Cambiar el color del texto a blanco */
  text-align: center;
  font-size: 24px;
  position: relative; 
  height: 60px; 
  width:140px;
  cursor: pointer; /* Cambia el cursor al pasar por encima */ 
  z-index: 8;
  bottom:5%;
  white-space: nowrap; /* Asegura que el texto esté en una sola línea */
}