<body>
  <div class="content">
    <div style="position: relative; width: 70%; height: 80%; z-index: 1;">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="1.55556 -0.584459 16.44 26.33" style="height: 100%; width: 100%; filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.5)); position: absolute;">
            <path d="M 17 25 C 17 26 3 26 3 25 C 2 24 2 24 2 13 C 2 7 1 1 2 1 C 3 0 15 -2 17 1 C 18 2 18 14 18 14 C 18 21 18 24 17 25" fill="#FFFFFF"/>
        </svg> 
          <div class="photo">
                <div class="circulo">
                    <div class="frog" style="position: absolute; top: 7%; ">
                        <img src="../../assets/img/frogUser.png" height="100%" width="120%"/>
                    </div>
                </div>
                <div class="nombre"><h2 id="name">CHULI CHULONA</h2></div>
            </div>
      <div class="textboxes">
        <input type="text" id="email" class="font-email" name="email" placeholder="CORREO ELECTRÓNICO" required="required" style="font-family: 'Laura merged', sans-serif;" >
        <input type="text" id="numero" class="font-email" name="numero" placeholder="NÚMERO DE TELÉFONO" required="required" style="font-family: 'Laura merged', sans-serif;" >
        <input type="password" id="password" class="font-email" name="password" placeholder="CONTRASEÑA" required="required" style="font-family: 'Laura merged', sans-serif;" >
        <input type="password" id="newpassword" class="font-email" name="newpassword" placeholder="REPETIR CONTRASEÑA" required="required" style="font-family: 'Laura merged', sans-serif;" >
      </div> 
    </div>
    <button class="saveChanges" type="submit" style="font-family: 'Laura merged', sans-serif;" ><strong>GUARDAR CAMBIOS</strong></button>   
  </div>
</body>