
<body>
  <a routerLink="/profUser" class="custom-button-before" style="z-index: 1050; height:50px; width:50px;   left:0%;
            bottom:85%;"><</a>  
      <div class="contentAbt">
        <div style="position: relative; width: 400px; height: 490px;">
            
      <p class="textoAbt">DATO CURIOSO:<br><br>En muchas culturas asiáticas, la flor de loto es un símbolo de pureza .<br><br>Esta flor crece en aguas fangosas pero emerge impecablemente limpia y hermosa .</p>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0.836584 3.02784 13.15 18.3"style="width:325px; height:540px; margin-left: 7%;filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.5));">
          <path d="M 3.814 17.644 C 3.061 17.203 0.86 18.855 1.135 11.424 C 0.937 5.325 0.532 5.325 1.227 4.158 C 1.832 3.333 3.712 2.499 12.018 3.454 C 12.389 3.693 14.618 3.375 13.807 9.418 C 13.61 12.839 13.883 15.406 13.047 16.229 C 12.687 16.839 12.094 16.922 11.373 16.946 C 8.704 17.271 7.352 17.026 6.699 17.003 C 4.86 17.057 4.843 18.036 7.795 21.331 C 4.563 18.254 3.924 18.198 3.887 17.662" fill="#fff"/>
        </svg>
        <figure id="frog" style="z-index: 1004; position: absolute; bottom: -65px; right: -10px;">
            <img src="../icons/frog-lotus.png" height="150" width="160"/>
        </figure>
      </div>
    </div>
   <!-- <swiper-container class="mySwiper" navigation="true" pagination="true" effect="flip" grab-cursor="true">
      <swiper-slide>
    </swiper-slide>
    <swiper-slide>
      
    </swiper-slide>
    <swiper-slide>
      
    </swiper-slide>
  </swiper-container>
  
        <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-element-bundle.min.js"></script>-->
    
    <!--  <p class="otherAbt">.<span style="color: #3a5e62;">.</span>.</p>  
      <a routerLink="/tutorial-last" class="custom-button-next" style="z-index: 1005; height:50px; width: 50px; right:0%;
      top:89%;">></a>  
      <a routerLink="/tutorial-welc" class="custom-button-before" style="z-index: 1005; height:50px;  width:50px; left:0%;
      top:89%;"><</a>    -->   


</body>