    /*base*/
    @import url("/src/css/style.css");

    .card {
        width: 100%;
        height: 100%;
        perspective: 1000px;
        cursor: pointer;
        position: absolute;
      }

      
      
      .card .front,
      .card .back {
        width: 100%;
        height: 100%;
        position: absolute;
        backface-visibility: hidden;
      }
      
      .card .front {
        background-color: transparent;
        color: white;
        transform: rotateY(0deg);
        transition: transform 0.5s;
      }
      
      .card .back {
        background-color:transparent;
        color: white;
        transform: rotateY(180deg);
        transition: transform 0.5s;
      }
      
      .card.flipped .front {
        transform: rotateY(-180deg);
      }
      
      .card.flipped .back {
        transform: rotateY(0deg);
      }
      

    body {
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        background-color: #f0f0f0;
        position: relative;
        user-select: none;
    }
    
  
    
    
    

    
    /*texto*/
    
    .textoAbt {
      font-family: 'Laura Regular', sans-serif;
      font-size: 7vw;
      text-align: left;
      color: #3a5e62;
      line-height: 1.2;
      position: absolute;
      top: 30%;
      left: 17%;
      z-index: 2;
      width: 100%;
      height: 100%;
  }
  
    
    h2{color: #3a5e62;}
    
    /*Puntos*/
    
    .otherAbt{
        
        color: #5a8d8d;
        z-index: 2;
        left: 50%; /* Cambia el valor de left para ajustar la posición horizontal */
        user-select: none;
        font-family: 'Laura Regular', sans-serif; /* Utiliza la fuente Laura Regular */
        font-size: 100px; /* Tamaño de la fuente */
        text-align: center; /* Alineación del texto */
        font-weight:bold;
        position: absolute; /* Posición absoluta */
        top:84%;
        transform: translate(-50%, -0%); /* Centra el texto */
    
    }
    .custom-button-before{
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='4 0.555556 3.444 3.733'%3E%3Cpath d='M 7 4 C 7 5 4 3 4 4 L 4 1 C 4 0 7 1 7 1 C 7 1 8 4 7 4' fill='%235a8d8d'/%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-color: transparent; /* Establecer el color de fondo como transparente */
      background-size: cover;
      border: none; /* Sin borde */
      padding: 10px 20px; /* Espacio interno */
      cursor: pointer; /* Cambia el cursor al pasar por encima */
      color: white;
      font-family: 'Handwriting', sans-serif; /* Utiliza la fuente Laura Regular */
      font-size: 24px; /* Tamaño de la fuente */
      text-align: center; /* Alineación del texto */
      position:absolute;
  }
  
  .custom-button-before:hover{
      background-color: transparent;/* Color de fondo al pasar por encima */
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='4 0.555556 3.444 3.733'%3E%3Cpath d='M 7 4 C 7 5 4 3 4 4 L 4 1 C 4 0 7 1 7 1 C 7 1 8 4 7 4' fill='%235a8d8d'/%3E%3C/svg%3E");
  }















  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 50%;
    width: 100%;
    height:30% ;
  }
  
  .row {
    display: flex;
    justify-content: center;
  }
  
  .col {
    margin: 0 10px;
    text-align: center;
  }
  
  .cara {
    width: 80px; /* ajusta el tamaño de las imágenes según sea necesario */
    height: 70px; /* ajusta el tamaño de las imágenes según sea necesario */
    border-radius: 50%; /* para hacer las imágenes redondas */
  }
  
  .Nombre {
    margin: 5px 0;
    color:#3a5e62;
  }
  