<body style="font-family: 'Laura merged', sans-serif; ">
 
      
  <div class="NuevaIncidenciaComponent">
    
     <div class="header">

        <h1 class="textotitle">REPORTES</h1> 

        <div class="fdiv">
        
        <button class="filtro" (click)="toggleSidebar()">
        <img src="../../assets/img/Filters.png" alt="Icono filtro">
        </button>

        </div>

      </div>

      <div id="filterSidebar" [style.display]="isSidebarOpen ? 'block' : 'none'">
        <div class="sidebar-content">
             
            <h2>Filtrar Resultados</h2>
            <div class="checks">  
                <div>
                    <label class="custom-checkbox">
                        <input type="checkbox" [(ngModel)]="selectAll" (change)="toggleAll()">
                        <span class="checkbox-image"></span>
                        Todas
                    </label>
                </div>
                <div *ngFor="let item of items; let i = index" style="margin-top: 5%;">
                    <label class="custom-checkbox">
                        <input type="checkbox" [(ngModel)]="items[i].selected" (change)="itemChanged()">
                        <span class="checkbox-image"></span>
                        {{item.id}}
                    </label>
                </div>
            </div>
            
            <div class="image-container">
              <img src="../assets/img/frogSherlock.png" alt="Descripción de la imagen" />
          </div>
            
        </div>           
      </div>
      

     

      

    <div style="    
    position: absolute;
    width: 100%;
    height: 80%;
    top: 13%;
    left: 0;
    align-items: center;
    padding-bottom: 60px;
">
      
      
      <p class="empty" *ngIf="elementos.length === 0" style="font-family: 'Laura merged', sans-serif; z-index:  4;">No hay incidencias registradas</p>
      <div #contenedorIncidencias id="contenedorIncidencias" style="overflow: auto; width:100%; height:105%; align-items: center; margin-left: 7%; padding:5%" >
          <!-- Mover el ngFor aquí -->
          <div *ngFor="let elemento of elementos">
            <!-- Clonar y actualizar elementos aquí -->
            <div #incidenciaElement>
              <svg id="backgroundSVG" #backgroundSVG xmlns="http://www.w3.org/2000/svg" viewBox="1.55556 0.75 10.56 5.694" style=" width:300px; position:absolute; bottom: 65%; right: 15%; z-index: 1;filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.15));">
                <path d="M 3 6 C 3 6 2 6 2 5 C 2 5 1 3 2 2 C 4 0 5 1 9 1 C 13 1 12 3 12 3 C 12 4 11 6 10 6 C 7 7 6 6 3 6" fill="#ffffff"/>
              </svg>
              <!-- Utiliza la notación de corchetes para acceder a la propiedad 'type' -->
              <p id="tipoElement" class="texto-TIPO" style="font-family: 'Laura merged', sans-serif;">{{ elemento['type'] }}</p>
              <p id="fechaElement" class="texto-DATE" style="font-family: 'Laura merged', sans-serif;">{{ elemento['fecha'] }}</p>
              <p id="horaElement" class="texto-TIME" style="font-family: 'Laura merged', sans-serif; ">{{ elemento['hora'] }}</p>
              <p id= "labelUbi" class="label-Ubi" style="font-family: 'Laura merged', sans-serif; ">Ubicación:</p>
              <p id="geoShapeElement" class="texto-Ubi" style="font-family: 'Laura merged', sans-serif; ">{{ elemento['geo_shape'] }}</p>
              <p  id= "labeldesc"class="label-desc" style="font-family: 'Laura merged', sans-serif;">Descripción:</p>
              <p id="descripcionElement" class="texto-desc" style="font-family: 'Laura merged', sans-serif;">{{ elemento['descripcion'] }}</p>
              <svg #svgHeader xmlns="http://www.w3.org/2000/svg" viewBox="1 0.75 11.11 2.25" style="height: 140px; width:315px; position:absolute; bottom: 80%; right: 14%;">
                <path d="M 1 3 C 2 3 1 3 2 2 C 4 0 5 1 9 1 C 13 1 12 3 12 3 C 6 3 7 3 3 3" fill="#5a8d8d"/>
              </svg>
            </div>
          </div>
        </div>
  </div>
  </div>

  <footer class="footer">
    <div class="footer-buttons">
        <button class="mis-incidencias" (click)="goToIncPage();" >
            <img src="../../assets/img/Icon_Suggestion_pink.png" alt="Icono Incidencias Usuarios">
        </button>
        
        <button class="reportes-mapa" (click)="goToStatsPage();">
            <img src="../../assets/img/icon_Stats.png" alt="Icono Estadisticas">
        </button>

        
        <button class="mapa_calor" (click)="goToMapPage();">
            <img src="../../assets/img/Icon_Mapa_Calor_.png" alt="Icono Mapa de Calor">
        </button>
        
        <button class="icono-usuario"(click)="goToProfPage();">
            <img src="../../assets/img/icon_User.png" alt="Icono Usuario">
        </button>
        
    </div>
</footer>
  </body>
  
  