<body style="font-family: 'Laura merged', sans-serif; ">
 
      
  <div class="NuevaIncidenciaComponent">
    
     <div class="header">

        <h1 class="textotitle">REPORTES</h1> 

        <div class="fdiv">
        
        <button class="filtro" (click)="toggleSidebar()">
        <img src="../../assets/img/Filters.png" alt="Icono filtro">
        </button>

        </div>

      </div>

      <div id="filterSidebar" [style.display]="isSidebarOpen ? 'block' : 'none'">
        <div class="sidebar-content">
             
            <h2>Filtrar Resultados</h2>
            <div class="checks">  
                <div>
                    <label class="custom-checkbox">
                        <input type="checkbox" [(ngModel)]="selectAll" (change)="toggleAll()">
                        <span class="checkbox-image"></span>
                        Todas
                    </label>
                </div>
                <div *ngFor="let item of items; let i = index" style="margin-top: 5%;">
                    <label class="custom-checkbox">
                        <input type="checkbox" [(ngModel)]="items[i].selected" (change)="itemChanged()">
                        <span class="checkbox-image"></span>
                        {{item.id}}
                    </label>
                </div>
            </div>
            
            <div class="image-container">
              <img src="../assets/img/frogSherlock.png" alt="Descripción de la imagen" style="z-index: 0;" />
          </div>
            
        </div>           
      </div>
      

     

      

    <div style="    
    position: absolute;
    width: 100%;
    height: 80%;
    top: 13%;
    left: 0;
    align-items: center;
    padding-bottom: 60px;
">
      
      
      <p class="empty" *ngIf="elementos.length === 0" style="font-size: large; position: absolute; left:25%; top: 40%; font-family: 'Laura merged', sans-serif; z-index:  4;">No hay incidencias registradas</p>
      <div #contenedorIncidencias id="contenedorIncidencias" style="overflow: auto; width:100%; height:105%; align-items: center; margin-left: 7%; padding:5%; position: absolute; left: -6%; display: grid; grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); gap: 30px;">
          <!-- Mover el ngFor aquí -->
          <div *ngFor="let elemento of elementos">
            <!-- Clonar y actualizar elementos aquí -->
            <div #incidenciaElement >
              <svg id="backgroundSVG" #backgroundSVG  xmlns="http://www.w3.org/2000/svg" viewBox="0.644079 3.88478 13.17 8.81" style=" width:300px; position:absolute; bottom: 65%; right: 15%; z-index: 1;filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.15));">
                <path d="M 3.383 12.648 C 0.954 12.45 0.717 10.749 0.695 9.97 C 0.674 9.359 0.527 9.149 0.855 5.824 C 1.17 5.165 0.826 4.106 7.9 3.905 C 9.613 3.803 10.829 4.127 11.337 3.991 C 12.826 4.02 13.943 4.478 13.807 9.418 C 13.694 11.16 13.826 12.31 11.722 12.595 C 4.056 12.543 4.696 12.796 3.383 12.648" fill="#fff"/>
              </svg>
              <!-- Utiliza la notación de corchetes para acceder a la propiedad 'type' -->
             
              <p id="tipoElement" class="texto-TIPO" style="font-family: 'Laura merged', sans-serif;">{{ elemento['type'] }}</p>
              <p id="fechaElement" class="texto-DATE" style="font-family: 'Laura merged', sans-serif;">{{ elemento['fecha'] }}</p>
              <p id="horaElement" class="texto-TIME" style="font-family: 'Laura merged', sans-serif; ">{{ elemento['hora'] }}</p>
              <p id= "labelUbi" class="label-Ubi" style="font-family: 'Laura merged', sans-serif; ">Ubicación:</p>
              <p id="geoShapeElement" class="texto-Ubi" style="font-family: 'Laura merged', sans-serif; ">{{ elemento['geo_shape'] }}</p>
              <p  id= "labeldesc"class="label-desc" style="font-family: 'Laura merged', sans-serif;">Descripción:</p>
              <p id="descripcionElement" class="texto-desc" style="font-family: 'Laura merged', sans-serif;">{{ elemento['descripcion'] }}</p>
              <svg #svgHeader xmlns="http://www.w3.org/2000/svg" viewBox="0.763236 3.87435 13.06 3.126" style="height: 140px; width:315px; position:absolute; bottom: 80%; right: 14%;">
                <path d="M 0.793 7 C 0.723 7.016 0.79 5.827 0.855 5.824 C 1.25 4.642 0.826 4.106 7.9 3.905 C 9.613 3.803 10.824 3.988 11.337 3.991 C 12.826 4.02 13.859 4.776 13.819 6.99" fill="#5a8d8d"/>
              </svg>
            </div>
          </div>
        </div>
  </div>
  </div>

  <footer class="footer">
    <div class="footer-buttons">
        <button class="mis-incidencias" (click)="goToIncPage();" >
            <img src="../../assets/img/Icon_Suggestion_pink.png" alt="Icono Incidencias Usuarios">
        </button>
        
        <button class="reportes-mapa" (click)="goToStatsPage();">
            <img src="../../assets/img/icon_Stats.png" alt="Icono Estadisticas">
        </button>

        
        <button class="mapa_calor" (click)="goToMapPage();">
            <img src="../../assets/img/Icon_Mapa_Calor_.png" alt="Icono Mapa de Calor">
        </button>
        
        <button class="icono-usuario"(click)="goToProfPage();">
            <img src="../../assets/img/icon_User.png" alt="Icono Usuario">
        </button>
        
    </div>
</footer>
  </body>
  
  