@import url("/src/css/style.css");
  
  body {
      background-color:#c1d7d5;
      font-family: 'Laura merged', sans-serif;
      user-select: none;
  }

  #filterSidebar {
    position: absolute;
    top: 10%;
    right: 0;
    width: 60%;
    height: 80%;
    padding: 20px;
    transition: right 0.3s ease;
    z-index: 2345678;
    display: none;
    border-radius: 30px 30px 30px 30px;
    background-color: transparent;
    background-repeat: no-repeat;
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.5));
    /* Eliminamos la línea que establece el background-color transparente */
    background-image: url('data:image/svg+xml;charset=utf8,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0.14078 1.639 14.47 22.09"%3E%3Cpath d="M 1.481 21.12 C 1.434 21.214 0.679 19.8 1.009 16.923 C 0.774 10.085 0.401 8.947 0.855 5.824 C 1.17 5.165 0.826 4.106 7.9 3.905 C 9.075 4.02 8.924 4.261 9.726 2.139 C 10.249 3.533 10.65 4.163 11.337 3.991 C 12.826 4.02 13.943 4.478 13.807 9.418 C 14.544 20.979 13.79 22.488 13.177 22.252 C 11.007 22.771 2.377 24.515 1.575 21.497" fill="%23ffffff"%3E%3C/path%3E%3C/svg%3E');
}




  

  .header{

    background-color: #84beb0;
    position: absolute;
    width: 100%;
    height: 13%;
    left: 0;
    top: 0;
    z-index: 100000;
    border-radius: 0px 0px 30px 30px;

  }

  .fdiv{
        position: relative;
        top: 27%;

  }

    .filtro {
        background-color: transparent; /* Color de fondo de los botones */
        width: 12%;
        right: 14%;
        position: absolute;
        

    }
  
  
  /*Custom Last*/
  .custom-button-rep {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='1.55556 0.25 11.69 4.194'%3E%3Cpath d='M 12 4 C 11 4 2 5 2 4 C 2 3 1 1 2 1 C 3 0 14 0 13 1 C 13 0 14 4 12 4' fill='%2384beb0'/%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-color: transparent; /* Establecer el color de fondo como transparente */
      background-size: cover;
      border: none; /* Sin borde */
      padding: 10px 20px; /* Espacio interno */
      cursor: pointer; /* Cambia el cursor al pasar por encima */
      z-index: 8;
      color: white;
      font-family: 'Laura merged', sans-serif; /* Utiliza la fuente Laura Regular */
      font-size: 24px; /* Tamaño de la fuente */
      text-align: center; /* Alineación del texto */
      position: absolute;
     
  }
  
  
  
  .contentLast{
      width: 100%;
      height: 100%;
      background-color: #c1d7d5;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: flex;
      justify-content: center; /* Centra horizontalmente */
      align-items: center; /* Centra verticalmente */
  }
  
  .textotitle{
    font-family: 'Laura merged', sans-serif; /* Utiliza la fuente Laura Regular */
    font-size: 28px; /* Tamaño de la fuente */
    text-align: left; /* Alineación del texto */
    color: #FFFFFF; /* Color del texto */
    position: absolute; 
    top: 40%;
    left: 20%; 
    transform: translate(-50%, 5%);
    z-index: 87654326; /* Asegura que el texto esté por encima del SVG */
  }

  .texto-TIPO{
    font-family: 'Laura merged', sans-serif; /* Utiliza la fuente Laura Regular */
      font-size: 25px; /* Tamaño de la fuente */
      text-align: left; /* Alineación del texto */
      color: #ffffff; /* Color del texto */
      position: absolute; 
      bottom: 86%; 
      left: 25%; 
      transform: translate(-50%, -0%);
      z-index: 6; 
  }

  .texto-DATE{
    font-family: 'Laura merged', sans-serif; /* Utiliza la fuente Laura Regular */
      font-size: 20px; /* Tamaño de la fuente */
      text-align: left; /* Alineación del texto */
      color: #ffffff; /* Color del texto */
      position: absolute; 
      bottom: 86%; 
      left: 57%; 
      transform: translate(-50%, -0%);
      z-index: 6; 
  }

  .texto-TIME{
    font-family: 'Laura merged', sans-serif; /* Utiliza la fuente Laura Regular */
      font-size: 18px; /* Tamaño de la fuente */
      text-align: left; /* Alineación del texto */
      color: #ffffff; /* Color del texto */
      position: absolute; 
      bottom: 86%; 
      left: 75%; 
      transform: translate(-50%, -0%);
      z-index: 6; 
  }

  .label-Ubi{
    font-family: 'Laura merged', sans-serif; /* Utiliza la fuente Laura Regular */
      font-size: 16px; /* Tamaño de la fuente */
      text-align: left; /* Alineación del texto */
      color: #3a5e62; /* Color del texto */
      position: absolute; 
      bottom: 78%; 
      left: 26%; 
      transform: translate(-50%, -0%);
      z-index: 6; 
  }
  .texto-Ubi{
    font-family: 'Laura merged', sans-serif; /* Utiliza la fuente Laura Regular */
      font-size: 14px; /* Tamaño de la fuente */
      text-align: left; /* Alineación del texto */
      color: #b5b4b8; /* Color del texto */
      position: absolute; 
      bottom: 75%; 
      left: 57%; 
      transform: translate(-50%, -0%);
      z-index: 6; 
  }

  .label-desc{
    font-family: 'Laura merged', sans-serif; /* Utiliza la fuente Laura Regular */
      font-size: 16px; /* Tamaño de la fuente */
      text-align: left; /* Alineación del texto */
      color: #3a5e62; /* Color del texto */
      position: absolute; 
      bottom: 70%; 
      left: 25%; 
      transform: translate(-50%, -0%);
      z-index: 6; 
  }
  .texto-desc{
    font-family: 'Laura merged', sans-serif; /* Utiliza la fuente Laura Regular */
      font-size: 14px; /* Tamaño de la fuente */
      text-align: left; /* Alineación del texto */
      color: #b5b4b8; /* Color del texto */
      position: absolute; 
      bottom: 70%; 
      left: 57%; 
      transform: translate(-50%, -0%);
      z-index: 6; 
  }

.button-top-right span {
    font-family: 'Laura merged', sans-serif;
    color:#3a5e62;
    font-weight: bold;
    font-size: 15px;
}


.footer {
    background-color: white; /* Color de fondo del footer */
    color: white; /* Color del texto */
    position: fixed; /* Fijo en la parte inferior de la pantalla */
    width: 100%; /* Ancho completo */
    bottom: 0;
    height: 90px;
    z-index:1001;
    padding-top: 10px;
}


@media(min-width: 600px){
    .filter-buttons{
        align-items: center;
        width: 70%;
    }
    
}

.footer-buttons button{
    background-color: transparent; /* Color de fondo de los botones */
    gap: 10px;
    margin-right: 20px !important; /* Intenta con un valor más fuerte */
    bottom: 3px !important;

}



.footer-buttons {
    display: flex; /* Uso de Flexbox */
    justify-content: space-around; /* Espaciado uniforme entre los botones */
    background-color: white; /* Color de fondo de los botones */
    bottom: 3px !important;
    

}



.mis-incidencias{
    width: 50px;
    transform: rotate(-2deg);
  }
  
  .reportes-mapa{
    width: 60px;
    transform: rotate(-2deg);
  }
  
  .ver-mapa{
    width: 80px;
  
  }
  
  .mapa_calor   {
    width: 50px;
    transform: rotate(-2deg);
  }
  
  .icono-usuario{
    width: 45px;
    transform: rotate(-2deg);
  }

  


.button-top-right span {
    font-family: 'Laura merged', sans-serif;
    color:#3a5e62;
    font-weight: bold;
    font-size: 15px;
}

.incidencia-element{
  right:30%;
}

.empty{
  color:#3a5e62;
  font-size: 20px;
  align-self: center;
  text-align: center;
  bottom: 40%; 
  left: 49%; 
  transform: translate(-50%, -60%);
  position:absolute;
  font-family: 'Laura merged', sans-serif; 
  line-height: 25px;
}



.button-container .checkbox-selected{
    display:none;
    width: 10px;
    height: 12px; /* Ajusta el tamaño de la imagen según necesites */
    position: absolute;
    top: 51%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.filter-buttons {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    margin-top: 40px;
    gap: 10px;
}


.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: -7px; /* Reduce el margen a la derecha */
    margin-left: -7px; /* Reduce el margen a la izquierda */
    justify-content: center; /* Centra los elementos horizontalmente */
    flex-wrap: wrap; /* Permite que los elementos se envuelvan en múltiples líneas si es necesario */
}

.button-container img {
    width: 60px; 
    height: auto;
    cursor: pointer;
    border-color: white;
    display: flex;
    transform: rotate(2deg)

}

.button-container input[type="checkbox"]:checked + label .checkbox-selected {
    display: block; /* Muestra la imagen */
}

.button-container input[type="checkbox"] {
    display: none;
}

.button-container label {
    width: 9px; 
    height: 11px; 
    border-radius: 2px;
    background-color: #3a5e62;
    cursor: pointer;
    position: relative;
    top: -12px
    
}

