<link href="map.component.scss" rel="stylesheet">
<body>
    <div class="header-map">
        <label class="button-top-right">
            <input type="checkbox" id="checkbox-top-right">
            <span>Seleccionar todos</span>
        </label>
            <div class="filter-buttons">
                <div class="button-container">
                <img src="ruta/a/tu/imagen1.jpg">
                <input type="checkbox" id="checkbox1" class="filter-checkbox">
                <label for="checkbox1"></label>
                </div>
            <div class="button-container">
                <img src="ruta/a/tu/imagen2.jpg">
                <input type="checkbox" id="checkbox2" class="filter-checkbox">
                <label for="checkbox2"></label>
            </div>
            <div class="button-container">
                <img src="ruta/a/tu/imagen3.jpg">
                <input type="checkbox" id="checkbox3" class="filter-checkbox">
                <label for="checkbox3"></label>
                </div>
            <div class="button-container">
                <img src="ruta/a/tu/imagen4.jpg">
                <input type="checkbox" id="checkbox4" class="filter-checkbox">
                <label for="checkbox4"></label>
                </div>
            <div class="button-container">
                <img src="ruta/a/tu/imagen5.jpg">
                <input type="checkbox" id="checkbox5" class="filter-checkbox">
                <label for="checkbox5"></label>
            </div>
                <div class="button-container">
                <img src="ruta/a/tu/imagen6.jpg">
                <input type="checkbox" id="checkbox6" class="filter-checkbox">
                <label for="checkbox6"></label>
            </div>
            <div class="button-container">
                <img src="ruta/a/tu/imagen7.jpg">
                <input type="checkbox" id="checkbox7" class="filter-checkbox">
                <label for="checkbox7"></label>
            </div>
        </div>
    </div>
</body>

