@import url("/src/css/style.css");


body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.header-map{
    width: 500px;
    height: 130px;
    background-color:#84beb0;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background{
        opacity: 30%;
    }
}



.button-top-right{
    position: fixed; 
    top: 30px;
    right: 30px; 
    z-index: 1000;
    display: flex;
    align-items: right;
}



.button-top-right input[type="checkbox"] {
display: none;
}

.button-top-right label {
    width: 13px;
    height: 15px;
    background-color: #3a5e62;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 3px; /* Añadido para dar espacio entre el checkbox y el texto */
}

.button-top-right img{
    display:none;
    position: fixed;
    width:15px;
    height: 17px; /* Ajusta el tamaño de la imagen según necesites */
    top: 37px;
    right: 97px;
    transform: translate(-50%, -50%);
}

.button-top-right input[type="checkbox"]:checked + label img{
    display: block; /* Muestra la imagen */
}

.button-container .checkbox-selected{
    display:none;
    width:13px;
    height: 15px; /* Ajusta el tamaño de la imagen según necesites */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}




.filter-buttons {
    display: flex; 
    flex-wrap: wrap; 
    justify-content: space-between; 
    align-items: center;
    margin-top: 50px;
    gap: 10px;
}


.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: -12px; /* Reduce el margen a la derecha */
    margin-left: -12px; /* Reduce el margen a la izquierda */
    justify-content: center; /* Centra los elementos horizontalmente */
    flex-wrap: wrap; /* Permite que los elementos se envuelvan en múltiples líneas si es necesario */
    right: 70px
}

.button-container img {
    width: 60px; 
    height: auto;
    cursor: pointer;
    border-color: white;
    display: flex;
}

.button-container input[type="checkbox"]:checked + label .checkbox-selected {
    display: block; /* Muestra la imagen */
}

.button-container input[type="checkbox"] {
    display: none;
}

.button-container label {
    width: 10px; 
    height: 15px; 
    border-radius: 5px;
    background-color: #3a5e62;
    cursor: pointer;
    position: relative;
    top: -25px
}


.footer {
    background-color: white; /* Color de fondo del footer */
    color: white; /* Color del texto */
    padding: 10px 0; /* Espaciado interno */
    position: sticky; /* Fijo en la parte inferior de la pantalla */
    width: 100%; /* Ancho completo */
    z-index: 1000;
    bottom: 0;
    height: 100px;
}

@media (max-width: 600px) {
    .footer-buttons {
        align-items: center; /* Centrado horizontalmente */
    }

    .footer-button {
        width: 80%; /* Ancho del botón */
        margin: 10px 0; /* Espaciado vertical */
    }
}

@media (max-width: 400px){
    .footer-buttons {
        align-items: center; /* Centrado horizontalmente */
    }

    .footer-button {
        width: -60%; /* Ancho del botón */
        margin: 2px 0; /* Espaciado vertical */
    }
}

.footer-buttons {
    display: flex; /* Uso de Flexbox */
    justify-content: space-around; /* Espaciado uniforme entre los botones */
    padding: 0 20px; /* Espaciado interno para los botones */
}

.footer-button {
    background-color: white; /* Color de fondo de los botones */
    border: none; /* Sin bordes */
    color: white; /* Color del texto */
    padding: 5px 5px; /* Espaciado interno */
    text-align: center; /* Alineación del texto */
    text-decoration: none;
    display: inline-block;
    width: 80px;
    margin: 4px 2px;
    cursor: pointer;
    display:flex;
}



.map{
    width: 1000px;
    height: 1750px;
}

.button-top-right span {
    font-family: 'Laura Regular', sans-serif;
    color:#3a5e62;
    font-weight: bold;
    font-size: 15px;
}