<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <title>Lotus</title>
        <meta name="description" content="map">
        <meta name="robots" content="index, follow"> 
        <link href="map.component.scss" rel="stylesheet"> 
  </head>
  <body>
            <label class="nav-button-top-right">
                <input type="checkbox" id="checkbox-top-right">
                <span>Seleccionar todos</span>
            </label>
            <div class="filter-buttons">
                <div class="button-container">
                    <img src="ruta/a/tu/imagen1.jpg">
                    <input type="checkbox" id="checkbox1" class="filter-checkbox">
                    <label for="checkbox1"></label>
                </div>
                <div class="button-container">
                    <img src="ruta/a/tu/imagen2.jpg">
                    <input type="checkbox" id="checkbox2" class="filter-checkbox">
                    <label for="checkbox2"></label>
                </div>
                <div class="button-container">
                    <img src="ruta/a/tu/imagen3.jpg">
                    <input type="checkbox" id="checkbox3" class="filter-checkbox">
                    <label for="checkbox3"></label>
                </div>
                <div class="button-container">
                    <img src="ruta/a/tu/imagen4.jpg">
                    <input type="checkbox" id="checkbox4" class="filter-checkbox">
                    <label for="checkbox4"></label>
                </div>
                <div class="button-container">
                    <img src="ruta/a/tu/imagen5.jpg">
                    <input type="checkbox" id="checkbox5" class="filter-checkbox">
                    <label for="checkbox5"></label>
                </div>
                <div class="button-container">
                    <img src="ruta/a/tu/imagen6.jpg">
                    <input type="checkbox" id="checkbox6" class="filter-checkbox">
                    <label for="checkbox6"></label>
                </div>
                <div class="button-container">
                    <img src="ruta/a/tu/imagen7.jpg">
                    <input type="checkbox" id="checkbox7" class="filter-checkbox">
                    <label for="checkbox7"></label>
                </div>
            </div>
       <footer>
         <!-- Aquí puedes añadir el pie de página de tu aplicación -->
       </footer>
   </body>

</html>
