
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.header-map{
    width: 1000px;
    height: 250px;
    background-color:#84beb0;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background{
        opacity: 30%;
    }
    
}

.button-top-right{
    position: fixed; 
    top: 10px; 
    font-size: 24px; 
    z-index: 1000;
    padding-left: 730;
    padding-top: 10;
}

.filter-buttons {
    display: flex; 
    flex-wrap: wrap; 
    justify-content: space-between; 
    align-items: center;
    padding:10 0 0 20;
    margin-top: 50px;
    gap: 10px;
}

.button-container {
    margin: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button-container img {
    width: 100px; 
    height: auto;
    cursor: pointer;
}

.button-container input[type="checkbox"] {
    display: none;
}

.button-container label {
    display: block;
    width: 30px; 
    height: 30px; 
    background-color: #ccc;
    cursor: pointer;
    margin: 5px auto; 
    position: relative;
}

.button-container label::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20px; 
    height: 20px; 
    background-color: #fff; 
    border: 2px solid #000; 
    border-radius: 3px; 
    visibility: hidden;
}

.button-container input[type="checkbox"]:checked + label::before {
    background-color: #4CAF50;
    visibility: visible;
}

.footer {
    background-color: white; /* Color de fondo del footer */
    color: white; /* Color del texto */
    padding: 10px 0; /* Espaciado interno */
    position: sticky; /* Fijo en la parte inferior de la pantalla */
    width: 100%; /* Ancho completo */
    z-index: 1000;
    bottom: 0;
}

.footer-buttons {
    display: flex; /* Uso de Flexbox */
    justify-content: space-around; /* Espaciado uniforme entre los botones */
    padding: 0 20px; /* Espaciado interno para los botones */
}

.footer-button {
    background-color: #4CAF50; /* Color de fondo de los botones */
    border: none; /* Sin bordes */
    color: white; /* Color del texto */
    padding: 10px 20px; /* Espaciado interno */
    text-align: center; /* Alineación del texto */
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

@media (max-width: 600px) {
    .footer-buttons {
        flex-direction: column; /* Alineación vertical en pantallas pequeñas */
        align-items: center; /* Centrado horizontalmente */
    }

    .footer-button {
        width: 80%; /* Ancho del botón */
        margin: 10px 0; /* Espaciado vertical */
    }
}

map{
    
}
