<link href="map.component.scss" rel="stylesheet">
<link rel="stylesheet" href="/src/css/style.css">
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin=""/>
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" crossorigin=""></script>

<body>
    <div id="map" 
    style='position: absolute;
    top: 0 ;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;'></div>

    <div>
    <div class="header-map">
        <label class="button-top-right">
            <input type="checkbox" id="checkbox-top-right" class="filter-checkbox" (change)="toggleAll()">
            <label for="checkbox-top-right">
                <img src="../../assets/img/Selected.png" alt="Seleccionado">
            </label>
            <span>Mostrar todos</span>
        </label>
            <div class="filter-buttons">
                <div class="button-container">
                <img src="../../assets/img/Contenedor_Vidrio.png">
                <input type="checkbox" id="glass_containers" class="filter-checkbox" [(ngModel)]="items[0].selected" (change)="itemChanged(items)" >
                <label for="glass_containers">
                    <img src="../../assets/img/Selected.png" alt="Seleccionado" class="checkbox-selected">
                </label>
                </div>
            <div class="button-container">
                <img src="../../assets/img/Contenedor_Aceite.png">
                <input type="checkbox" id="oil_containers" class="filter-checkbox" [(ngModel)]="items[1].selected" (change)="itemChanged(items)">
                <label for="oil_containers">
                    <img src="../../assets/img/Selected.png" alt="Seleccionado" class="checkbox-selected">
                </label>
            </div>
            <div class="button-container">
                <img src="../../assets/img/Contenedor_Ropa.png">
                <input type="checkbox" id="clothes_containers" class="filter-checkbox" [(ngModel)]="items[2].selected" (change)="itemChanged(items)">
                <label for="clothes_containers">
                    <img src="../../assets/img/Selected.png" alt="Seleccionado" class="checkbox-selected">
                </label>
                </div>
            <div class="button-container">
                <img src="../../assets/img/Contenedor_Residuos.png">
                <input type="checkbox" id="Residuos Urbanos" class="filter-checkbox" class="checkbox-selected" [(ngModel)]="items[3].selected" (change)="itemChanged(items)">
                <label for="Residuos Urbanos">
                    <img src="../../assets/img/Selected.png" alt="Seleccionado" class="checkbox-selected">
                </label>
                </div>
            <div class="button-container">
                <img src="../../assets/img/Contenedor_Papel.png">
                <input type="checkbox" id="Papel / Carton" class="filter-checkbox" [(ngModel)]="items[4].selected" (change)="itemChanged(items)">
                <label for="Papel / Carton">
                    <img src="../../assets/img/Selected.png" alt="Seleccionado" class="checkbox-selected">
                </label>
            </div>
                <div class="button-container">
                <img src="../../assets/img/Contenedor_Envases.png">
                <input type="checkbox" id="Envases Ligeros" class="filter-checkbox" [(ngModel)]="items[5].selected" (change)="itemChanged(items)">
                <label for="Envases Ligeros">
                    <img src="../../assets/img/Selected.png" alt="Seleccionado" class="checkbox-selected">
                </label>
            </div>
            <div class="button-container">
                <img src="../../assets/img/Contenedor_Organico.png">
                <input type="checkbox" id="Organico" class="filter-checkbox" [(ngModel)]="items[6].selected" (change)="itemChanged(items)">
                <label for="Organico">
                    <img src="../../assets/img/Selected.png" alt="Seleccionado" class="checkbox-selected">
                </label>
            </div>
        </div>
    </div>
   
</div>

<div id="customDivContainer"></div>

   <footer class="footer">
    <div class="footer-buttons">
        <button class="mis-incidencias" (click)="goToMisPage();">
            <img src="../../assets/img/Icon_Mis_Incidencias.png" alt="Icono Mis Incidencias">
        </button>
        
        <button class="reportes-mapa" (click)="goToNuevaIncPage();">
            <img src="../../assets/img/Icon_Reportes_En_El_Mapa.png" alt="Icono Reportes en el Mapa">
        </button>
        
        <button class="ver-mapa" (click)="goToMapPage();">
            <img src="../../assets/img/icon_VER_MAPA_pink.png" alt="Icono Ver Mapa">
        </button>
        
        <button class="info-reciclaje" (click)="goToInfoPage();">
            <img src="../../assets/img/icon_Info_Reciclaje.png" alt="Icono Información de Reciclaje">
        </button>
        
        <button class="icono-usuario">
            <img src="../../assets/img/icon_User.png" alt="Icono Usuario">
        </button>
        
    </div>
</footer>

</body>
