@import url("/src/css/style.css");



.header-map{
    width: 100%;
    height: 152px;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 96%);
    background-color: rgba(132, 190, 176, 0.85);
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
 
    
}

#con{

    font-family: 'Laura Regular', sans-serif;

}

#customDivContainer {
    width: 100%;
    height: 20%;
    position: absolute;
    top: 67%;
    z-index: 1000; /* Ajusta el z-index para que esté encima del mapa */
    background-color:rgba(132, 190, 176, 0.85); /* Opcional: Agrega un fondo blanco o cualquier otro color */
    padding: 10px; /* Opcional: Agrega un relleno al contenedor */
    box-sizing: border-box; /* Opcional: Ajusta el tamaño del contenedor */
    font-family: 'Laura Regular', sans-serif;
    
}

h1{ font-family: 'Laura Regular', sans-serif;}



.button-top-right{
    position: fixed; 
    top: 30px;
    right: 30px; 
    z-index: 1000;
    display: flex;
    align-items: right;
    opacity: 100%;
}



.button-top-right input[type="checkbox"] {
display: none;
}

.button-top-right label {
    width: 13px;
    height: 15px;
    background-color: #3a5e62;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 3px; /* Añadido para dar espacio entre el checkbox y el texto */
}

.button-top-right img{
    display:none;
    position: fixed;
    width:15px;
    height: 17px; /* Ajusta el tamaño de la imagen según necesites */
    top: 37px;
    right: 100px;
    transform: translate(-50%, -50%);
}

.button-top-right input[type="checkbox"]:checked + label img{
    display: block; /* Muestra la imagen */
}

.button-container .checkbox-selected{
    display:none;
    width: 10px;
    height: 12px; /* Ajusta el tamaño de la imagen según necesites */
    position: absolute;
    top: 51%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.filter-buttons {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    margin-top: 40px;
    gap: 10px;
}


.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: -7px; /* Reduce el margen a la derecha */
    margin-left: -7px; /* Reduce el margen a la izquierda */
    justify-content: center; /* Centra los elementos horizontalmente */
    flex-wrap: wrap; /* Permite que los elementos se envuelvan en múltiples líneas si es necesario */
}

.button-container img {
    width: 60px; 
    height: auto;
    cursor: pointer;
    border-color: white;
    display: flex;
    transform: rotate(2deg)

}

.button-container input[type="checkbox"]:checked + label .checkbox-selected {
    display: block; /* Muestra la imagen */
}

.button-container input[type="checkbox"] {
    display: none;
}

.button-container label {
    width: 9px; 
    height: 11px; 
    border-radius: 2px;
    background-color: #3a5e62;
    cursor: pointer;
    position: relative;
    top: -12px
}



.footer {
    background-color: white; /* Color de fondo del footer */
    color: white; /* Color del texto */
    position: fixed; /* Fijo en la parte inferior de la pantalla */
    width: 100%; /* Ancho completo */
    bottom: 0;
    height: 90px;
    z-index: 1;
}


@media(min-width: 600px){
    .filter-buttons{
        align-items: center;
        width: 70%;
    }
    
}

.footer-buttons button{
    background-color: transparent; /* Color de fondo de los botones */
    gap: 10px;
    margin-right: 20px !important; /* Intenta con un valor más fuerte */
    bottom: 3px !important;

}



.footer-buttons {
    display: flex; /* Uso de Flexbox */
    justify-content: space-around; /* Espaciado uniforme entre los botones */
    background-color: white; /* Color de fondo de los botones */
    bottom: 3px !important;

}



.mis-incidencias{
    width: 55px;
    transform: rotate(-2deg);
}

.reportes-mapa{
    width: 65px;
    transform: rotate(-2deg);
}

.ver-mapa{
    width: 85px;
  
}

.info-reciclaje{
    width: 40px;
    transform: rotate(-2deg);
}

.icono-usuario{
    width: 50px;
    transform: rotate(-2deg);
}



.button-top-right span {
    font-family: 'Laura Regular', sans-serif;
    color:#3a5e62;
    font-weight: bold;
    font-size: 15px;
}