<body>

    <div class="container">
        <div class="background"></div>
        
            <div class="logo"> <img 
                style="position: absolute;
                top: 20%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 80px;
                height: 50;"
                
                alt="logo" 
                src="/../icons/Blank_Chiquito.png"> 
            </div>
            <div class="title-container">
                <h1>INICIO DE SESIÓN</h1>
            </div>


            <div class="form-container">
                
                
                <div class="auth-field">
                    <div class="sign-container">
                      <div class="signin">
                        <button type="button">Login</button>
                      </div>
                      <div class="signup" >
                        <button type="button">Signup</button>
                      </div>
                    </div>
                    <div class="board"></div>
                  </div>
                  
                  
                  
                 

                <form>
                    <input type="text" id="username" name="username" placeholder="Usuario/Correo electronico" required>
                    <input type="password" id="password" name="password" placeholder="Contraseña" required>
                    <p>¿Has olvidado tu contraseña?  </p>
                    <a href="sdsadsadsads" class="forget">Haz click aqui</a>  
                    <button class="entrar" type="submit">ENTRAR</button>
                </form>
            </div>
    </div>

</body>