
<body>

    <div class="container">
        <div class="background"></div>
          
            <div class="logo"> <img 
                style="position: absolute;
                top: 17%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 80px;
                height: 50;
                user-select: none;"
                  
                
                alt="logo" 
                src="/../icons/Blank_Chiquito_White.png"> 
            </div>
            <div class="title-container">
                <h1><strong>INICIO DE SESIÓN</strong></h1>
            </div>


            <div class="form-container">
                
                
                <div class="auth-field">
                    <div class="sign-container">
                      <div class="signin">
                        <button type="button">USUARIO</button>
                      </div>
                      <div class="signup" >
                        <button type="button" >ORG.</button>
                      </div>
                    </div>
                    <div class="board"></div>
                  </div>
                  
                  
                  
                 

                <form>
                    <input type="text" id="username" name="username" placeholder="Usuario/Correo electronico" required>
                    <input type="password" id="password" name="password" placeholder="Contraseña" required>
                    <p>¿Has olvidado tu contraseña? <br>  <a href="sdsadsadsads" >Haz click aqui</a></p>
                     
                    <button class="entrar" type="submit">ENTRAR</button>
                </form>
            <div class="registro">
                <p><strong>¿No tienes una cuenta? <a href="sdsadsadsads" >Regístrate</a></strong></p>
            </div>

            </div>
    </div>

</body>