
<body>
 
          <div class="contentAbt">
            
                <p class="textoAbt">DATO CURIOSO:<br><br>En muchas culturas asiáticas, la flor de loto es un símbolo de pureza .<br><br>Esta flor crece en aguas fangosas pero emerge impecablemente limpia y hermosa .</p>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="1.55556 -0.584459 16.44 26.33" style="height: 490px; width:400px; filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.5));" >
                    <path d="M 17 25 C 17 26 3 26 3 25 C 2 24 2 24 2 13 C 2 7 1 1 2 1 C 3 0 15 -2 17 1 C 18 2 18 14 18 14 C 18 21 18 24 17 25" fill="#FFFFFF"/>
                </svg>
                
                    <img src="../icons/frog-lotus.png" height="150" width="160" style="z-index: 1004; position: absolute; top: 65%; left: 50%;"/>
                
        
              <p class="otherAbt">.<span style="color: #3a5e62;">.</span>.</p>  
              <a routerLink="/tutorial-last" class="custom-button-next" style="z-index: 1005; height:50px; width: 50px; right:0%;
              top:89%;">></a>  
              <a routerLink="/tutorial-welc" class="custom-button-before" style="z-index: 1005; height:50px;  width:50px; left:0%;
              top:89%;"><</a>       
          </div>
  
</body>