import { HttpClient } from '@angular/common/http';
import { Injectable } from '@angular/core';

@Injectable({
  providedIn: 'root'
})
export class EmailService {

  constructor(private http: HttpClient) { }

  sendEmail(recipient: string, subject: string, body: string) {
    const emailData = {
      recipient,
      subject,
      body
    };
    return this.http.post<any>('https://tu-api.com/enviar-correo', emailData);
  }
}
