/*base*/
@import url("/src/css/style.css");

body {
    background-color: #c1d7d5;
    user-select: none;
}



/*tutoriales*/

.custom-button-next {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='1.55556 0.555556 5.889 4.194'%3E%3Cpath d='M 7 4 C 7 5 2 5 2 4 C 2 3 1 1 2 1 C 3 0 6 1 7 1 C 7 1 8 3 7 4' fill='%2384beb0'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-color: transparent; /* Establecer el color de fondo como transparente */
    background-size: cover;
    border: none; /* Sin borde */
    padding: 10px 20px; /* Espacio interno */
    cursor: pointer; /* Cambia el cursor al pasar por encima */
    z-index: 6px;
    color: white;
    font-family: 'Handwriting', sans-serif; /* Utiliza la fuente Laura Regular */
    font-size: 24px; /* Tamaño de la fuente */
    text-align: center; /* Alineación del texto */
    
}
.custom-button-next:hover {
    background-color: transparent;/* Color de fondo al pasar por encima */
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='1.55556 0.555556 5.889 4.194'%3E%3Cpath d='M 7 4 C 7 5 2 5 2 4 C 2 3 1 1 2 1 C 3 0 6 1 7 1 C 7 1 8 3 7 4' fill='%235a8d8d'/%3E%3C/svg%3E");

}

.custom-button-before{
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='4 0.555556 3.444 3.733'%3E%3Cpath d='M 7 4 C 7 5 4 3 4 4 L 4 1 C 4 0 7 1 7 1 C 7 1 8 4 7 4' fill='%2384beb0'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-color: transparent; /* Establecer el color de fondo como transparente */
    background-size: cover;
    border: none; /* Sin borde */
    padding: 10px 20px; /* Espacio interno */
    cursor: pointer; /* Cambia el cursor al pasar por encima */
    z-index: 6px;
    color: white;
    font-family: 'Handwriting', sans-serif; /* Utiliza la fuente Laura Regular */
    font-size: 24px; /* Tamaño de la fuente */
    text-align: center; /* Alineación del texto */
    position:absolute;
    left:0%;
    top:89%;
}

.custom-button-before:hover{
    background-color: transparent;/* Color de fondo al pasar por encima */
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='4 0.555556 3.444 3.733'%3E%3Cpath d='M 7 4 C 7 5 4 3 4 4 L 4 1 C 4 0 7 1 7 1 C 7 1 8 4 7 4' fill='%235a8d8d'/%3E%3C/svg%3E");
}

/*Custom Last*/
.custom-button-continue {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='1.55556 0.25 11.69 4.194'%3E%3Cpath d='M 12 4 C 11 4 2 5 2 4 C 2 3 1 1 2 1 C 3 0 14 0 13 1 C 13 0 14 4 12 4' fill='%233a5e62'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-color: transparent; /* Establecer el color de fondo como transparente */
    background-size: cover;
    border: none; /* Sin borde */
    padding: 10px 20px; /* Espacio interno */
    cursor: pointer; /* Cambia el cursor al pasar por encima */
    z-index: 6;
    color: white;
    font-family: 'Laura Regular', sans-serif; /* Utiliza la fuente Laura Regular */
    font-size: 6vw; /* Tamaño de la fuente */
    text-align: center; /* Alineación del texto */
   
}


.custom-button-continue:hover {
    background-color: transparent;/* Color de fondo al pasar por encima */
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='1.55556 0.25 16.44 4.194'%3E%3Cpath d='M 18 4 C 15 4 2 5 2 4 C 2 3 1 1 2 1 C 3 0 14 0 17 1 C 18 2 18 3 18 4' fill='%23e5cec8'/%3E%3C/svg%3E");

}


.contentLast{
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
}

.textoLast{
    font-family: 'Laura Regular', sans-serif; /* Utiliza la fuente Laura Regular */
    font-size: 6vw; /* Tamaño de la fuente */
    text-align: left; /* Alineación del texto */
    color: #3a5e62; /* Color del texto */
    position: absolute; 
    top: 45%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    z-index: 2; /* Asegura que el texto esté por encima del SVG */
    line-height: 1.1;
}



.this-pagLast{
color: #3a5e62 ; /* Color del texto */
z-index: 3;
left: 55.5%;
}

.otherLast{
    color: #5a8d8d;
    z-index: 2;
    left: 50%; /* Cambia el valor de left para ajustar la posición horizontal */
    user-select: none;
    font-family: 'Laura Regular', sans-serif; /* Utiliza la fuente Laura Regular */
    font-size: 100px; /* Tamaño de la fuente */
    text-align: center; /* Alineación del texto */
    font-weight:bold;
    position: absolute; /* Posición absoluta */
    top:90%;
    transform: translate(-50%, -0%); /* Centra el texto */
}

