<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/src/css/style.css">
<link rel="stylesheet" href="/src/css/tutorial.css">
<title>Last</title>

<body>
    <div class="iphone">
        <div class="screen">
            <div class="notch"></div>
            <div class="sensor"></div>
            <div class="camera"></div>
            <div class="contentLast">
                <p class="textoLast">LOTUS se compromete a ayudar a que su ciudad presente su mejor versión . <br><br>Reporte cuando los contenedores estén llenos o en mal estado para decir adiós a las calles llenas de basura, y los malos olores. </p>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="1.55556 -0.584459 16.44 26.33" style="height: 490px; width:400px; filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.5));" >
                    <path d="M 17 25 C 17 26 3 26 3 25 C 2 24 2 24 2 13 C 2 7 1 1 2 1 C 3 0 15 -2 17 1 C 18 2 18 14 18 14 C 18 21 18 24 17 25" fill="#FFFFFF"/>
                </svg>
                <figure id="ranita" class="frog-lotusLast">
                    <img src="/src/icons/frog-lotus.png" height="165" width="170"/>
                </figure>
                <p class="dotLast this-pagLast">.</p>
                <p class="dotLast otherLast">...</p>    
                <input type="button" value="Continuar" class="custom-button-continue" style="height:50px; width:140px;"/>
                <input type="button" value="<" class="custom-button-before" href="../tutorial-abt/tutorial-abt.component.html" style="height:50px; width: 50px;" />       
            </div>
        </div>
    </div>
</body>
</head>
</html>
