.VerdeOscuro {
    color: #3a5e62;
}

.VerdeOscuro2{
    color: #5a8d8d;
}

.Verde {
    color: #84beb0;
}

.VerdeClaro {
    color: #c1d7d5;
}

.GrisClaro {
    color: #e6e5ea;
}

.Gris {
    color: #b5b4b8;
}

.Rosa {
    color: #e5cec8;
}
