.texto-Reciclaje {
    font-family: 'Laura Regular', sans-serif; /* Utiliza la fuente Laura Regular */
    font-size: 30px; /* Tamaño de la fuente */
    text-align: center; /* Alineación del texto */
    color: #000; /* Color del texto */
    font-weight:bold;
    position: absolute; /* Posición absoluta */
    top: 11%; /* Lo posiciona en el centro vertical */
    left: 50%; /* Lo posiciona en el centro horizontal */
    transform: translate(-50%, -100%); /* Centra el texto */
    z-index: 2; /* Asegura que el texto esté por encima del SVG */
}

.footer {
    background-color: white; /* Color de fondo del footer */
    color: white; /* Color del texto */
    padding: 10px 0; /* Espaciado interno */
    position: sticky; /* Fijo en la parte inferior de la pantalla */
    width: 100%; /* Ancho completo */
    bottom: 0;
    position:fixed;
}
.footer-buttons {
    display: flex; /* Uso de Flexbox */
    justify-content: space-around; /* Espaciado uniforme entre los botones */
    padding: 1px; /* Espaciado interno para los botones */
}

.footer-button {
    background-color: white; /* Color de fondo de los botones */
    border: none; /* Sin bordes */
    color: white; /* Color del texto */
    padding: 5px 15px; /* Espaciado interno */
    text-align: center; /* Alineación del texto */
    text-decoration: none;
    display: inline-block;
    width: 25px;
    margin: 1px 1px;
    cursor: pointer;
    display:flex;
  
}

.content{
    width: 90%;
    height: 95%;
    background-color: #e6e5ea;
    position: absolute;
    border-radius: 40px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
}

@media (max-width: 600px) {
    .footer-buttons {
        flex-direction: column; /* Alineación vertical en pantallas pequeñas */
        align-items: center; /* Centrado horizontalmente */
    }

    .footer-button {
        width: 80%; /* Ancho del botón */
        margin: 10px 0; /* Espaciado vertical */
    }
}