@font-face {
    font-family: 'Laura Regular'; /* Nombre de la fuente */
    src: url('../fonts/Laura-Regular.ttf') format('truetype'); /* Ruta del archivo TTF */
}

@font-face{
    font-family: 'Handwriting'; /*Este es para los símbolos que no dio la versión gratis de mi fuente*/
    src:url('../fonts/Handwriting.ttf') format('truetype');
}

/* styles.scss */

@import "~swiper/swiper-bundle.css";

@import "~@angular/material/prebuilt-themes/purple-green.css";
.error-message{
    position: absolute; /* Posicionamiento absoluto */
    font-family: 'Laura Regular'; /* Nombre de la fuente */
    src: url('../fonts/Laura-Regular.ttf') format('truetype'); /* Ruta del archivo TTF */
    color: #f56f5d;
    bottom: 85px;
}

.error-message-register{
    position: absolute; /* Posicionamiento absoluto */
    font-family: 'Laura Regular'; /* Nombre de la fuente */
    src: url('../fonts/Laura-Regular.ttf') format('truetype'); /* Ruta del archivo TTF */
    color: #f56f5d;
    bottom: 35px;
}

::ng-deep .mat-autocomplete-panel {
    font-family: 'Laura Regular', sans-serif; /* Cambia el tipo de fuente */
  }
  .mat-autocomplete-panel {
    font-family: 'Laura Regular', sans-serif;
  }