<body>
  
          <div class="contentWelc">
              <p class="texto-bienvenida">BIENVENIDO<br>A<br>LOTUS</p>
              <div style="position: relative; width: 400px; height: 490px;">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="1.55556 -0.584459 16.44 26.33" style="height: 100%; width: 100%; filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.5)); position: absolute;">
                    <path d="M 17 25 C 17 26 3 26 3 25 C 2 24 2 24 2 13 C 2 7 1 1 2 1 C 3 0 15 -2 17 1 C 18 2 18 14 18 14 C 18 21 18 24 17 25" fill="#FFFFFF"/>
                </svg>
                <div class="frog" style="position: absolute; bottom: -35px; right: 70px;">
                    <img src="../assets/img/frog.png" height="165" width="220"/>
                </div>
            </div>
            
             
              <p class="otherWelc"><span style="color: #3a5e62; ;">.</span>..</p>    
              <a routerLink="/map" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="custom-button-next" style="height:50px; width: 50px;">>
              </a>              
          </div>

</body>
