<body>
  <div class="iphone">
      <div class="screen">
          <div class="notch"></div>
          <div class="sensor"></div>
          <div class="camera"></div>
          <div class="contentWelc">
              <p class="texto-bienvenida">BIENVENIDOS<br>A<br>LOTUS</p>
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="1.55556 -0.584459 16.44 26.33" style="height: 490px; width:400px; filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.5));" >
                  <path d="M 17 25 C 17 26 3 26 3 25 C 2 24 2 24 2 13 C 2 7 1 1 2 1 C 3 0 15 -2 17 1 C 18 2 18 14 18 14 C 18 21 18 24 17 25" fill="#FFFFFF"/>
              </svg>
              <figure id="ranita" class="frogWelc">
                  <img src="/src/icons/frog.png" height="165" width="220"/>
              </figure>
              <p class="dotWelc this-pagWelc">.</p>
              <p class="dotWelc otherWelc">...</p>    
              <form [action]="'tutorial-abt'">
                <input type="submit" value=">" class="custom-button-next" style="height:50px; width: 50px;"/>
              </form>              
          </div>
      </div>
  </div>
</body>
