<body>
    <div>
        <div id="map" style="
        
        position: absolute;
        top: 0 ;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 0;"></div>
    <footer class="footer">
        <div class="footer-buttons">
            <button class="mis-incidencias" >
                <img src="../../assets/img/Icon_Suggestion.png" alt="Icono Incidencias Usuarios">
            </button>
            
            <button class="reportes-mapa" >
                <img src="../../assets/img/icon_Stats.png" alt="Icono Estadisticas">
            </button>

            
            <button class="mapa_calor" >
                <img src="../../assets/img/Icon_Mapa_Calor_pink.png" alt="Icono Mapa de Calor">
            </button>
            
            <button class="icono-usuario">
                <img src="../../assets/img/icon_User.png" alt="Icono Usuario">
            </button>
            
        </div>
    </footer>
    </div>
</body>