@import url("/src/css/style.css");

.header-map{
  width: 100%;
  height: 130px;
  background-color: rgba(58, 94, 98, 0.75);
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(0.5px);
  position: relative;
}

P{
  text-align: center;
  font-size: 6vw;
  color: white;
  font-family: 'Laura Regular', sans-serif;
  font-weight: bold;
  line-height: 1.5;
}


.footer {
    background-color: white; /* Color de fondo del footer */
    color: white; /* Color del texto */
    position: fixed; /* Fijo en la parte inferior de la pantalla */
    width: 100%; /* Ancho completo */
    bottom: 0;
    height: 90px;
    z-index:1001;
    padding-top: 10px;
}


@media(min-width: 600px){
    .filter-buttons{
        align-items: center;
        width: 70%;
    }
    
}

.footer-buttons button{
    background-color: transparent; /* Color de fondo de los botones */
    gap: 10px;
    margin-right: 20px !important; /* Intenta con un valor más fuerte */
    bottom: 3px !important;

}



.footer-buttons {
    display: flex; /* Uso de Flexbox */
    justify-content: space-around; /* Espaciado uniforme entre los botones */
    background-color: white; /* Color de fondo de los botones */
    bottom: 3px !important;
    

}



.mis-incidencias{
    width: 50px;
    transform: rotate(-2deg);
  }
  
  .reportes-mapa{
    width: 60px;
    transform: rotate(-2deg);
  }
  
  .ver-mapa{
    width: 80px;
  
  }
  
  .mapa_calor   {
    width: 50px;
    transform: rotate(-2deg);
  }
  
  .icono-usuario{
    width: 45px;
    transform: rotate(-2deg);
  }



  ::ng-deep .leaflet-marker-icon,
  ::ng-deep .leaflet-marker-shadow {
      display: none;
  }
  