<body>
    <div>
        <div id="map" style="
        
        position: absolute;
        top: 0 ;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 0;"></div>
    <footer class="footer">
        <div class="footer-buttons">
            <button class="mis-incidencias" >
                <img src="../../assets/img/Icon_Mis_Incidencias.png" alt="Icono Mis Incidencias">
            </button>
            
            <button class="reportes-mapa" >
                <img src="../../assets/img/Icon_Reportes_En_El_Mapa.png" alt="Icono Reportes en el Mapa">
            </button>
            
            <button class="ver-mapa" >
                <img src="../../assets/img/icon_VER_MAPA_pink.png" alt="Icono Ver Mapa">
            </button>
            
            <button class="info-reciclaje" >
                <img src="../../assets/img/icon_Info_Reciclaje.png" alt="Icono Información de Reciclaje">
            </button>
            
            <button class="icono-usuario">
                <img src="../../assets/img/icon_User.png" alt="Icono Usuario">
            </button>
            
        </div>
    </footer>
    </div>
</body>