@import url("/src/css/style.css");

body{user-select: none;}

.content { /*Es el div q engloba todo*/
    width: 100%;
    height: 100%;
    background-color: #3a5e62;
    position: relative;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    z-index: 0;
    flex-direction: column
}





.circulo {
    width: 110px; /* Tamaño del círculo en píxeles */
    height: 110px; /* Tamaño del círculo en píxeles */
    background-color: #c1d7d5; /* Cambia esto al color que desees */
    border-radius: 50%; /* Hace que el div sea un círculo */
    z-index: 2;
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centra el círculo horizontal y verticalmente */
    border: 5px solid #5a8d8d; /* Define el borde con ancho, estilo y color */
    overflow: hidden;
}

#name {
  color: #5a8d8d;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10000;
  font-family: 'Laura merged', sans-serif;
  font-size: 20px; /* Reduzco el tamaño de fuente */
  white-space: nowrap; /* Evita que el texto se divida en varias líneas */
}

.nombre {
  width: max-content; /* Hace que el contenedor se ajuste al contenido */
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%); /* Solo trasladamos horizontalmente */
}



.buttonedit {
  z-index: 20;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='1.92623 3.29003 12.36 2.95'%3E%3Cpath d='M 3 6 C 2.916 6.267 1.961 5.604 2 5 C 2 5 1.749 4.383 2.173 3.693 C 3.792 3.481 4.429 3.056 12.018 3.454 C 12.389 3.693 14.618 3.375 14.246 4.489 C 14.273 5.922 14.406 5.816 11.566 6.24 C 5.994 5.816 8.674 6.108 3.023 6.108' fill='%23c1d7d5'/%3E%3C/svg%3E");
  background-color: transparent;
  font-weight: bold;
  font-family: 'Laura merged', sans-serif;
  font-size: 4.9vw; /* Ajusta el tamaño del texto según tus preferencias */
  width: 120%; /* Ancho ajustado automáticamente según el contenido */
  height: auto; /* Altura ajustada automáticamente según el contenido */
  color: #3a5e62;
  background-repeat: no-repeat;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  padding: 5px; /* Añade espacio entre el texto y los bordes del botón */
  p{margin-left: 10px; margin-top: 5px;}
}



.buttonedit img {
  width: 22%; /* Modifica el tamaño de la imagen según tus preferencias */
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 38%;
  position: absolute;
  width: 40%; /* Modifica el ancho de los botones */
  height: auto; /* Altura ajustada automáticamente según el contenido */
  left: 31%;
}







.footer {
  background-color: white; /* Color de fondo del footer */
  color: white; /* Color del texto */
  position: fixed; /* Fijo en la parte inferior de la pantalla */
  width: 100%; /* Ancho completo */
  bottom: 0;
  height: 90px;
  z-index:1001;
}


@media(min-width: 600px){
  .filter-buttons{
      align-items: center;
      width: 70%;
  }
  
}

.footer-buttons button{
  background-color: transparent; /* Color de fondo de los botones */
  gap: 10px;
  margin-right: 20px !important; /* Intenta con un valor más fuerte */
  bottom: 3px !important;

}



.footer-buttons {
  display: flex; /* Uso de Flexbox */
  justify-content: space-around; /* Espaciado uniforme entre los botones */
  background-color: white; /* Color de fondo de los botones */
  bottom: 3px !important;
  

}



.mis-incidencias{
  width: 50px;
  transform: rotate(-2deg);
}

.reportes-mapa{
  width: 60px;
  transform: rotate(-2deg);
}

.ver-mapa{
  width: 80px;

}

.info-reciclaje{
  width: 35px;
  transform: rotate(-2deg);
}

.icono-usuario{
  width: 45px;
  transform: rotate(-2deg);
}
