<body>
    <div class="content">
        
        <div style="position: relative; width: 400px; height: 490px;">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="1.55556 -0.584459 16.44 26.33" style="height: 100%; width: 100%; filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.5)); position: absolute;">
              <path d="M 17 25 C 17 26 3 26 3 25 C 2 24 2 24 2 13 C 2 7 1 1 2 1 C 3 0 15 -2 17 1 C 18 2 18 14 18 14 C 18 21 18 24 17 25" fill="#FFFFFF"/>
          </svg>
        </div>
          
    </div>

    <footer class="footer">
        <div class="footer-buttons">
            <button class="mis-incidencias" (click)="goToMisPage();">
                <img src="../../assets/img/Icon_Mis_Incidencias.png" alt="Icono Mis Incidencias">
            </button>
            
            <button class="reportes-mapa" (click)="goToNuevaIncPage();">
                <img src="../../assets/img/Icon_Reportes_En_El_Mapa.png" alt="Icono Reportes en el Mapa">
            </button>
            
            <button class="ver-mapa" (click)="goToMapPage();">
                <img src="../../assets/img/icon_VER_MAPA.png" alt="Icono Ver Mapa">
            </button>
            
            <button class="info-reciclaje" (click)="goToInfoPage();">
                <img src="../../assets/img/icon_Info_Reciclaje.png" alt="Icono Información de Reciclaje">
            </button>
            
            <button class="icono-usuario" (click)="goToProfPage();">
                <img src="../../assets/img/icon_User.png" alt="Icono Usuario">
            </button>
            
        </div>
    </footer>


</body>