
<body style="font-family: 'Laura Regular', sans-serif;">
  <div class="NuevaIncidenciaComponent">
    <div style="position: relative; width: 400px; height: 490px;">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="1.71221 2.87944 6.896 3.565" style="height: 140px; width:200px; position:absolute; bottom: 100%; left: 24%; z-index: 1;">
        <path d="M 3 6 C 3 6 2 6 2 5 C 2 5 1.264 3.211 2.146 3.276 C 4.083 2.903 5.137 2.473 8.35 3.634 C 8.501 3.972 9 5 8 6 C 7 7 6 6 3 6" fill="#84beb0"/>
      </svg>
      <p class="textotitle" style="font-family: 'Laura Regular', sans-serif; z-index: 2; text-align: center; line-height: 25px;">Nuevo Reporte<br>CONTENEDOR</p>
      <p class="texto_tipo" style="font-family: 'Laura Regular', sans-serif; z-index: 2;">Tipo</p>
      <div class="dropdown" #tipo id="tipo" [class.open]="dropdownOpen" (click)="toggleDropdown()">
        <button class="dropbtn">{{ selectedOption }}</button>
        <div class="dropdown-content" *ngIf="dropdownOpen">
          <div *ngFor="let option of ['CONTENEDOR LLENO', 'RECLAMACIÓN/INFORME', 'PETICIÓN', 'CONSULTA']" (click)="selectOption(option); closeDropdown()">
            {{ option }}
          </div>
        </div>
      </div>
      
      

      <p class="texto_ubi" style="font-family: 'Laura Regular', sans-serif; z-index: 2;">Ubicación</p>
      
      
      <!--<textarea class="input" id="ubi" name="ubi" maxlength="50"></textarea>-->
      <form class="form" #ubiubi id="ubiubi" style="height:18px; margin-top: 10px; border-radius: 30px;">
        <mat-form-field class="form">
          <input type="text" matInput #myInput (input)="onInputChange($event)" class="input2" style="font-family: 'Laura merged', sans-serif;" [disabled]="true" [value]="coords">
          <mat-autocomplete #auto="matAutocomplete" style="font-family: 'Laura merged', sans-serif;">
          </mat-autocomplete>
        </mat-form-field>
      </form>
      
      
      <p class="texto_desc" style="font-family: 'Laura Regular', sans-serif; z-index: 2;">Descripción</p>
      <textarea class="descripBox" #descrip id="descrip" (input)="onInputChange($event)" name="descrip" rows="4" cols="50" maxlength="850" ></textarea>
      <ionic-button id="camera" class="camera" (click)="takePhotoFromCamera();" 
      style="margin-left: 2px; 
      position: absolute; 
      z-index: 22;
      position:absolute;
      align-self: center;
      bottom:36%;
      left:70%;
      height: 40px;
      width:40px;">
        <img src="../assets/img/icon_Camera.png" alt="Camera Icon" style="width: 40px; height: 40px; pointer-events: none;">
      </ionic-button>
      
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="1.55556 -0.584459 16.44 26.33" style="height: 450; width:400px;  filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.5)); position:absolute; z-index: 1;" >
        <path d="M 17 25 C 17 26 3 26 3 25 C 2 24 2 24 2 13 C 2 7 1 1 2 1 C 3 0 15 -2 17 1 C 18 2 18 14 18 14 C 18 21 18 24 17 25" fill="#FFFFFF"/>
      </svg>
      <input type="button" value="REPORTAR" id="reportButton" #reportButton name="reportButton" class="custom-button-rep" (click)="showPop();" style="position: absolute; bottom: 15px; right: 128px; height: 50px; width:140px; font-family: 'Laura Regular', sans-serif; z-index: 2;" disabled/>
    </div>  
    <a routerLink="/map" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="custom-button-before" style="height:50px; width: 50px;"></a>     
  </div>
  <script>
    document.addEventListener('DOMContentLoaded', function() {
     document.getElementById('dropbtn').textContent = 'CONTENEDOR LLENO';
    });
  </script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!--  <script>
    $(document).ready(function() {
  $('.dropdown-content div').click(function() {
    var selectedText = $(this).text(); // Obtiene el texto del elemento clickeado
    $('.dropbtn').text(selectedText); // Actualiza el texto del botón
    $('.dropdown-content').hide(); // Oculta el menú desplegable después de hacer clic
  });
});
  </script>-->


    <footer class="footer">
      <div class="footer-buttons">
          <button class="mis-incidencias" (click)="goToMisPage();">
              <img src="../../assets/img/Icon_Mis_Incidencias.png" alt="Icono Mis Incidencias">
          </button>
          
          <button class="reportes-mapa" (click)="goToNuevaIncPage();">
              <img src="../../assets/img/Icon_Reportes_En_El_Mapa_pink.png" alt="Icono Reportes en el Mapa">
          </button>
          
          <button class="ver-mapa" (click)="goToHomePage();">
              <img src="../../assets/img/icon_VER_MAPA.png" alt="Icono Ver Mapa">
          </button>
          
          <button class="info-reciclaje" (click)="goToInfoPage();">
              <img src="../../assets/img/icon_Info_Reciclaje.png" alt="Icono Información de Reciclaje">
          </button>
          
          <button class="icono-usuario" (click)="goToProfPage();">
              <img src="../../assets/img/icon_User.png" alt="Icono Usuario">
          </button>
          
      </div>
  </footer>
</body>

