
<body>

  <div class="container">
     
        
         <a routerLink="/login" class="custom-button-before" style="z-index: 1050; height: 50px; width: 50px;  left:0%;
            bottom:85%;"><</a>   

          <div class="title-container">
              <h1>ESTRABLECER NUEVA CONTRASEÑA</h1>
          </div>

          <div class="form-container"> 
              <form>
                  <input type="password" id="new" name="new" placeholder="NUEVA CONTRASEÑA" required="required">
                  <input type="password" id="rep" name="rep" placeholder="REPETIR CONTRASEÑA" required = "required">
                  
                  <button class="aceptar" type="button"><strong>ACEPTAR</strong></button> <!--falta la acción del click*-->
              </form>
         
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="2.77778 0 9.382 11"style="width: 255; position:absolute; top: 0; left: 50%; transform: translateX(-50%);  filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.25));">
            <path d="M 3 11 C 3 9 3 9 3 8 C 3 0 1 0 9 0 C 12 0 12 2 12 2 C 12 5 13 11 10 11 C 8 11 10 11 5 11 C 3 11 3 10 3 9" fill="#fff"/>
          </svg>
          </div>
  </div>

</body>