
<body>

  <div class="container">
      <div class="background"></div>
        
      
          <div class="title-container">
              <h1>Establecer nueva contraseña</h1>
          </div>

          <div class="form-container"> 
              <form>
                  <input type="text" id="username" name="username" placeholder="NUEVA CONTRASEÑA" required>
                  <input type="password" id="password" name="password" placeholder="REPETIR CONTRASEÑA" required>
                  
                  <button class="aceptar" type="button" (click)="goToLoginPage();"><strong>ACEPTAR</strong></button>
              </form>
          <div class="registro">
              <p><strong>¿NO TIENES UNA CUENTA? <a routerLink="/reg" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" >
              REGÍSTRATE</a></strong></p>
          </div>
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="2.77778 0 9.382 11"style="width: 255; position:absolute; top: 0; left: 50%; transform: translateX(-50%);  filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.25));">
            <path d="M 3 11 C 3 9 3 9 3 8 C 3 0 1 0 9 0 C 12 0 12 2 12 2 C 12 5 13 11 10 11 C 8 11 10 11 5 11 C 3 11 3 10 3 9" fill="#fff"/>
          </svg>
          </div>
  </div>

</body>