<body>
  <a routerLink="/profUser" class="custom-button-before" style="z-index: 1050; height:50px; width:50px;   left:0%;
            bottom:85%;"><</a>  


  <div class="container">
    <p class="textotitle" style="font-family: 'Laura Regular', sans-serif; z-index: 20; font-weight: bolder;">CONFIGURACIÓN</p>
    <img src="../../assets/img/icon_Config.png" style="z-index: 60; height: 50px; width: 50px;transform: translateX(200%);  position:absolute; left:40%;top: 10%;filter:brightness(100);">

    <svg xmlns="http://www.w3.org/2000/svg" viewBox="1.55556 -0.584459 16.44 26.33" style="height: 490px; width:400px; filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.5)); margin-top:50%;" >
      <path d="M 17 25 C 17 26 3 26 3 25 C 2 24 2 24 2 13 C 2 7 1 1 2 1 C 3 0 15 -2 17 1 C 18 2 18 14 18 14 C 18 21 18 24 17 25" fill="#FFFFFF"/>
  </svg>
    
    <p class="ubi">Permisos de Ubicación</p>
    <p class="gal">Acceso a la Cámara</p>
    <p class="cam">Acceso a la Galería</p>
  
    <div style="position: absolute; top: 35%; left: 50%;">

    <img src="../../assets/img/sugerencia.png" style="z-index: 60; height: 25px; width: 25px;transform: translateX(-200%);  position:absolute; left:0%;bottom: 5%;filter:brightness(100);">

    </div>

  </div>



</body>