
<body>

  <div class="container">
      <div class="background"></div>
        
          <div class="logo"> <img 
              style="position: absolute;
              top: 12%;
              left: 50%;
              transform: translate(-50%, -50%);
              width: 101px;
              height: 90pX;
              user-select: none;"
                
              
              alt="logo" 
              src="/../icons/Blank_Chiquito_Color.png"> 
          </div>
          
          <div class="form-container">
              
            <div class="title">

              <p style="color: black; font-size: 30px; margin-bottom: 5px;"><strong>REGISTRO</strong></p>
              <p style="color: #b5b4b8; margin-top: 0;">UNETE A LA COMUNIDAD</p>

            </div>

              <form>
                  <input type="text" id="nombre" name="nombre" placeholder="NOMBRE COMPLETO" required>
                  <input type="text" id="telefono" name="telefono" placeholder="TELEFONO" required>
                  <input type="text" id="correo" name="correo" placeholder="CORREO ELECTRÓNICO" required>
                  <input type="password" id="password" name="password" placeholder="CONTRASEÑA" required>   
                  <input type="password" id="rep" name="rep" placeholder="REPITE LA CONTRASEÑA" required>               
                  <button class="registrarse" type="submit"><strong>REGISTRAR</strong></button>
              </form>
          <div class="registro">
              <p><strong>¿YA TIENES CUENTA? <a routerLink="/login" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" >
              INICIA SESION</a></strong></p>
          </div>
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="1.55556 -0.584459 16.44 26.33" style="height: 410px; filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.5)); position:absolute" >
            <path d="M 17 25 C 17 26 3 26 3 25 C 2 24 2 24 2 13 C 2 7 1 1 2 1 C 3 0 15 -2 17 1 C 18 2 18 14 18 14 C 18 21 18 24 17 25" fill="#FFFFFF"/>
        </svg>
          </div>
  </div>

</body>